/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.8);
}

header{
    background-color: black;
}

main{
    padding-top: 4rem;

    h1{
        color: white;
        font-size: 45px;
        padding: 1.5rem 1rem;
    }
}

.container{
    width: 1400px;
    margin: 0 auto;
}

.start-research{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

img{
    max-width: 100%;
    height: auto;
}

